Repository Source-Machine-Ent/after-school-algorithm-gajyeowa, pull requests merged in 2022-08, with the labels that each got.

#19 [#18] 로또의 최고 순위와 최저 순위 - 정답
  ningpop/level1/로또의_최고_순위와_최저_순위.py
Labels: ningpop, Level 1

#30 [#29] 오픈채팅방 - 정답
  ningpop/level2/오픈채팅방.py
Labels: ningpop, Level 2

#41 [#34] 신규 아이디 추천 - 정답
  ningpop/level1/신규_아이디_추천.py
Labels: ningpop, Level 1

#46 [#45] 입국심사 - 정답
  ningpop/level3/입국심사.py
Labels: ningpop, Level 3

#59 [#56] 숫자 문자열과 영단어 - 정답
  ningpop/level1/숫자_문자열과_영단어.py
Labels: ningpop, Level 1

#60 [#58] 가장 먼 노드 - 정답
  ningpop/level3/가장_먼_노드.py
Labels: ningpop, Level 3

#67 [#66] 키패드 누르기 - 정답
  ningpop/level1/키패드_누르기.py
Labels: ningpop, Level 1

#72 [#70] 멀쩡한 사각형 - (오답 -> 정답)
  ningpop/level2/멀쩡한_사각형.py
Labels: ningpop, solve again, Level 2

#77 [#76] 크레인 인형뽑기 게임 - 정답
  ningpop/level1/크레인_인형뽑기_게임.py
Labels: ningpop, Level 1

#78 [2022-08-30] programmers level1 크레인인형뽑기
  Orlando/level1/.idea/.gitignore
  Orlando/level1/.idea/dbnavigator.xml
  Orlando/level1/.idea/misc.xml
  Orlando/level1/.idea/modules.xml
  Orlando/level1/.idea/vcs.xml
  Orlando/level1/Solution_크레인인형뽑기기계.java
  Orlando/level1/level1.iml
Labels: Level 1, orlando
