Repository Source-Machine-Ent/after-school-algorithm-gajyeowa, pull requests merged in 2022-07, with the labels that each got.

#5 [#4] 신고 결과 받기
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  ningpop/level1/신고_결과_받기.py
Labels: ningpop, Level 1

#10 [#9] 문자열 압축
  .gitignore
  ningpop/level2/문자열_압축.py
Labels: ningpop, Level 2

#16 [2022-07-30] 추석 트래픽
  Orlando/level3/Solution_추석트래픽.java
Labels: solve again, Level 3, orlando
